img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markdown-source-view .internal-embed[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
